/* @import url(/style-resp.css) only screen and (max-device-width:900px); */

#mobilef {
    display:none;
}

body {
margin:0 auto;padding:0;background-image:url(../images/fond.jpg);background-color:#d2c6b5;background-attachment:fixed;margin-top:10px;font-family:'Varela Round',sans-serif;font-size:.8em;font-style:normal;font-weight:400;
color:#231C10;

}

.Main {
position:absolute;width:100%;left:0;margin-top:10px
}

.cleared {
float:none;clear:both;margin:0;padding:0;border:none;font-size:1px
}

.Sheet {
overflow:hidden;min-width:35px;min-height:35px;position:relative;z-index:0;width:929px;background-color:#f4eade;-webkit-border-radius:22px;-moz-border-radius:22px;border-radius:22px;margin-bottom:10px;margin-left:auto;margin-right:auto;behavior:url(/PIE.htc);-moz-box-shadow:4px 4px 6px #aaa;-webkit-box-shadow:4px 4px 6px #aaa;box-shadow:4px 4px 6px #555
}

.Sheet-body {
position:relative;z-index:0;margin:0
}

.Sheet {
margin-top:-13px!important
}

/*
div.Header {
margin:0 auto;position:relative;z-index:0;width:924px;height:225px
}

div.Header-jpeg {
position:absolute;z-index:-1;top:0;left:-3px;width:930px;height:225px;background-image:url(../images/Header.jpg);background-repeat:repeat-x;background-position:center center;-webkit-border-top-left-radius:22px;
-webkit-border-top-right-radius:22px;-moz-border-radius-topleft:22px;-moz-border-radius-topright:22px;border-top-left-radius:22px;border-top-right-radius:22px
}
*/

.nav {
position:relative;margin:0 auto;width:924px;height:29px;z-index:100
}

.nav .l,.nav .r,.nav .r div {
top:0;position:absolute;z-index:-1;overflow:hidden;height:29px
}

.nav .l {
left:0;right:0
}

.nav .r {
right:0;width:0
}

.nav .r div {
width:924px;right:0
}

.nav .l,.nav .r div {
background-position:left top;background-repeat:repeat-x;background-image:url(../images/nav.png)
}

a img {
border:0
}

.article img,img.article {
border-style:solid;border-width:6px;border-color:#FFF;margin:1em
}

.article table,table.article {
border-collapse:collapse;margin:1px;width:auto
}

.article table,table.article .article tr,.article th,.article td {
background-color:Transparent
}

.article th,.article td {
padding:2px;border:solid 1px #238EC7;vertical-align:top;text-align:left
}

.article th {
text-align:center;vertical-align:middle;padding:7px
}

a {
font-family:'Varela Round',sans-serif;text-decoration:underline;color:#175D82
}

a:link {
font-family:'Varela Round',sans-serif;text-decoration:none;color:#695330
}

a:visited,a.visited {
font-family:'Varela Round',sans-serif;text-decoration:none;color:#695330
}

a:hover,a.hover {
font-family:'Varela Round',sans-serif;text-decoration:underline;color:#695330
}

h1,h2,h3,h4,h5,h6,h1 a,h2 a,h3 a,h4 a,h5 a,h6 a h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover h1 a:visited,h2 a:visited,h3 a:visited,h4 a:visited,h5 a:visited,h6 a:visited {
font-weight:400;font-style:normal;text-decoration:none
}

h1,h1 a,h1 a:link,h1 a:visited,h1 a:hover {
font-family:'Handlee',cursive;font-style:normal;font-weight:700;text-align:left;color:#175D82
}

h2,h2 a,h2 a:link,h2 a:visited,h2 a:hover {
font-family:'Handlee',cursive;font-size:28px;font-style:normal;font-weight:700;text-align:left;color:#175D82
}

h3,h3 a,h3 a:link,h3 a:visited,h3 a:hover {
font-family:'Varela Round',sans-serif;font-size:17px;font-style:normal;font-weight:700;text-align:left;color:#2978a2;text-decoration:underline
}

h4,h4 a,h4 a:link,h4 a:visited,h4 a:hover {
font-family:'Varela Round',sans-serif;font-size:15px;font-style:normal;text-align:left;color:#2978a2
}

h6,h6 a,h6 a:link,h6 a:visited,h6 a:hover {
font-family:'Varela Round',sans-serif;font-size:14px;font-style:normal;font-weight:700;text-align:left;color:#231C10
}

ul {
color:#110E08;margin:0;padding:0
}

li {
font-family:'Varela Round',sans-serif;font-size:12px
}

.Post ul li {
padding:0 0 0 13px;background-repeat:no-repeat;margin:.5em 0;line-height:1.2em
}

blockquote p {
color:#040F16;font-family:'Varela Round',sans-serif;font-style:italic;font-weight:400;text-align:left
}

blockquote {
border-color:#BFA273;border-width:1px;border-style:solid;margin:10px 10px 10px 50px;padding:5px 5px 5px 41px;background-color:#D8C7AB;background-image:url(../images/PostQuote.png);background-position:left top;
background-repeat:no-repeat
}

button.Button,a.Button {
position:relative;display:inline-block;width:auto;outline:none;border:none;background:none;line-height:34px;margin:0;padding:0;overflow:visible;cursor:default;text-decoration:none!important
}

:first-child+html button.Button,:first-child+html a.Button {
display:list-item;list-style-type:none;float:left
}

.Button .btn {
position:relative;overflow:hidden;display:block;width:auto;z-index:0;height:34px;color:#F4EFE7;white-space:nowrap;float:left
}

.Button .t {
height:34px;
white-space:normal;
padding:0 21px;
font-family:'Varela Round',sans-serif;
font-size:12px;
font-style:normal;
font-weight:400;
text-align:left;
line-height:34px;
text-decoration:none!important
}

input,select {
font-family:'Varela Round',sans-serif;
font-size:12px;
font-style:normal;
font-weight:400
}

.Button .active {
color:#E4EFF6
}

.Button .hover,a.Button:hover {
color:#E1F1FA;
text-decoration:none!important
}

.Button .active .r {
top:-68px
}

.Button .hover .r {
top:-34px
}

.Button .r {
display:block;
position:absolute;
overflow:hidden;
z-index:-1;
top:0;
right:0;
width:11px;
height:102px
}

.Button .r span {
display:block;
position:absolute;
overflow:hidden;
z-index:-1;
top:0;
right:0;
width:411px;
height:102px
}

.Button .active .l {
top:-68px
}

.Button .hover .l {
top:-34px
}

.Button .l {
display:block;
position:absolute;
overflow:hidden;
z-index:-1;
top:0;
left:0;
right:11px;
height:102px
}

.Button .l,.Button .r span {
background-image:url(../images/Button.png)
}

.Footer {
position:relative;
z-index:0;
overflow:hidden;
width:924px;
margin:5px auto 0;
text-align:center;
width:930px;
background-color:#deccb3;
font-size:10px;
float:left
}

.Footer .Footer-inner {
height:1%;
position:relative;
z-index:0;
padding:8px;
text-align:center
}

.Footer .Footer-background {
position:absolute;
z-index:-1;
background-repeat:repeat-x;
background-image:url(../images/Footer.png);
width:924px;
height:100px;
bottom:0;
left:0
}

.rss-tag-icon {
position:relative;
display:block;
float:left;
background-image:url(../images/livemarks.png);
background-position:center right;
background-repeat:no-repeat;
margin:0 5px 0 0;
height:25px;
width:25px
}

.contentLayout .sidebar1 {
position:relative;
margin:0;
padding:0;
border:0;
float:left;
overflow:hidden;
width:200px
}

.contentLayout .content {
position:relative;
margin:0;
padding:0;
border:0;
float:left;
overflow:hidden;
width:699px
}

.contentLayout li {
float:none
}

table.moduletable th {
font-size:140%;
padding:.5em 0
}

.breadcrumbs {
display:block;
padding:.7em 0
}

span.pathway {
display:block;
margin:0 20px;
height:16px;
line-height:16px;
overflow:hidden
}

table.moduletable th,legend {
margin:0;
font-weight:700;
font-family:Helvetica,Arial,sans-serif;
font-size:1.5em;
padding-left:0;
margin-bottom:10px;
text-align:left
}

.invalid {
border-color:red
}

label.invalid {
color:red
}

.ol-foreground {
background-color:#f6f6f6
}

.ol-background {
background-color:#666
}

.ol-textfont {
font-family:Arial,Helvetica,sans-serif;
font-size:10px
}

.ol-captionfont {
font-family:Arial,Helvetica,sans-serif;
font-size:12px;
color:#f6f6f6;
font-weight:700
}

.ol-captionfont a {
color:#0B55C4;
text-decoration:none;
font-size:12px
}

span.article_separator {
display:none
}

.article_column {
padding-right:5px
}

.column_separator {
border-left:1px dashed #e0e0e0;
padding-left:10px
}

td.buttonheading img {
border:none
}

.clr {
clear:both
}

td.greyline {
width:20px;
background:url(../../../images/mw_line_grey.png) 50% 0 repeat-y
}

div#maindivider {
border-top:1px solid #ddd;
margin-bottom:10px;
overflow:hidden;
height:1px
}

table.blog span.article_separator {
display:none
}

.contentpaneopen_edit {
float:left
}

table.contenttoc {
margin:5px;
border:1px solid #ccc;
padding:5px;
float:right
}

table.contenttoc td {
padding:0 5px
}

td.sectiontableheader {
background:#efefef;
color:#333;
font-weight:700;
padding:4px;
border-right:1px solid #fff
}

table.contentpaneopen,table.contentpane {
margin:0;
padding:0;
width:auto
}

table.contentpaneopen li {
margin-bottom:5px
}

table.contentpaneopen fieldset {
border:0;
border-top:1px solid #ddd
}

table.contentpaneopen h3 {
margin-top:25px
}

table.contentpaneopen h4 {
font-family:Arial,Helvetica,sans-serif;
color:#333
}

.highlight {
background-color:#fffebb
}

table.user1user2 div.moduletable {
margin-bottom:0
}

div.moduletable,div.module {
margin-bottom:25px
}

div.module_menu h3 {
font-family:Helvetica,Arial,sans-serif;
font-size:12px;
font-weight:700;
color:#eee;
margin:-23px -4px 5px -5px;
padding-left:10px;
padding-bottom:2px
}

div.module_menu {
margin:0;
padding:0;
margin-bottom:15px
}

div.module_menu div div div {
padding:10px;
padding-top:30px;
padding-bottom:15px;
width:auto
}

div.module_menu div div div div {
background:none;
padding:0
}

div.module_menu ul {
margin:10px 0;
padding-left:20px
}

div.module_menu ul li a:link,div.module_menu ul li a:visited {
font-weight:700
}

#leftcolumn div.module {
padding:0 10px
}

#leftcolumn div.module table {
width:auto
}

table.adminform textarea {
width:540px;
height:400px;
font-size:1em;
color:#009
}

div.search input {
width:145px;
border:1px solid #ccc;
margin:15px 0 10px
}

form#form-login {
text-align:left
}

form#form-login fieldset {
border:0 none;
margin:0;
padding:.2em
}

form#form-login ul {
list-style-type:none;
margin:0;
padding:0
}

form#form-login ul li {
background-image:none;
padding:0
}

#modlgn_username,#modlgn_passwd {
width:90%
}

#form-login-username,#form-login-password,#form-login-remember {
display:block;
margin:0
}

form#com-form-login {
text-align:left
}

form#com-form-login fieldset {
border:0 none;
margin:0;
padding:.2em
}

form#com-form-login ul {
list-style-type:none;
margin:0;
padding:0
}

form#com-form-login ul li {
background-image:none;
padding:0
}

div.mosimage {
margin:5px
}

div.mosimage_caption {
font-size:.9em;
color:#666
}

div.caption {
padding:0 10px
}

div.caption img {
border:1px solid #CCC
}

div.caption p {
font-size:.9em;
color:#666;
text-align:center
}

table.paramlist {
margin-top:5px
}

table.paramlist td.paramlist_key {
width:128px;
text-align:left;
height:30px
}

div.message {
font-weight:700;
font-size:14px;
color:#c30;
text-align:center;
width:auto;
background-color:#f9f9f9;
border:solid 1px #d5d5d5;
margin:3px 0 10px;
padding:3px 20px
}

.banneritem img {
display:block;
margin-left:auto;
margin-right:auto
}

.banneritem_text {
padding:4px;
font-size:11px
}

.bannerfooter_text {
padding:4px;
font-size:11px;
background-color:#f7f7f7;
text-align:right
}

.pagination span {
padding:2px
}

.pagination a {
padding:2px
}

.pollstableborder {
margin-top:8px
}

.pollstableborder td {
text-align:left
}

span.description {
display:block;
padding-left:30px
}

fieldset {
border:1px solid #ccc;
margin-top:15px;
padding:15px
}

legend {
margin:0;
padding:0 10px
}

td.key {
border-bottom:1px solid #eee;
color:#666
}

.tool-tip {
float:left;
background:#ffc;
border:1px solid #d4d5aa;
padding:5px;
max-width:200px
}

.tool-title {
padding:0;
margin:0;
font-size:100%;
font-weight:700;
margin-top:-15px;
padding-top:15px;
padding-bottom:5px;
background:url(file:///C|/wamp/www/system/images/selector-arrow.png) no-repeat
}

.tool-text {
font-size:100%;
margin:0
}

#system-message {
margin-bottom:20px
}

#system-message dd.message ul {
background:#c3d2e5 url(file:///C|/wamp/www/system/images/notice-info.png) 4px center no-repeat;
border-top:3px solid #de7a7b;
border-bottom:3px solid #de7a7b;
margin:0;
padding-left:40px;
text-indent:0
}

#system-message dd.error ul {
color:#c00;
background:#e6c0c0 url(file:///C|/wamp/www/system/images/notice-alert.png) 4px center no-repeat;
border-top:3px solid #DE7A7B;
border-bottom:3px solid #DE7A7B;
margin:0;
padding-left:40px;
text-indent:0
}

#system-message dd.notice ul {
color:#c00;
background:#efe7b8 url(file:///C|/wamp/www/system/images/notice-note.png) 4px center no-repeat;
border-top:3px solid #f0dc7e;
border-bottom:3px solid #f0dc7e;
margin:0;
padding-left:40px;
text-indent:0
}

#syndicate {
float:left;
padding-left:25px
}

#component-contact table td {
padding:2px 0
}

.breadcrumbs img {
margin:0;
padding:0;
border:0
}

.mceToolbarTop {
white-space:normal
}

#Comments table td {
border:0 solid #000
}

CommentMenu table td {
border:0 solid #000
}

#cadremenu {
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
behavior:url(/PIE.htc);
background-color:#dacfb7;
border:1px solid #d4c8aa;
padding-left:10px;
padding-right:10px;
margin:7px
}

#cadremenu h1 {
font-family:'Short Stack',cursive;
font-size:1.1em;
text-align:left;
color:#695330;
margin-bottom:7px
}

#cadremenu ul {
list-style-type:none;
color:#082230;
margin:0;
padding:0
}

#cadremenu li {
font-family:'Varela Round',sans-serif;
font-size:12px;
text-decoration:none
}

#cadremenu ul li {
padding:0 0 0 13px;
background-image:url(../images/BlockContentBullets.png);
background-repeat:no-repeat;
margin:.5em 0;
line-height:1.2em
}

#cadremenu a:link {
text-decoration:none;
color:#175D82
}

#cadremenu a:visited,a.visited {
text-decoration:none;
color:#175D82
}

#cadremenu a:hover,a.hover {
text-decoration:underline;
color:#1F7BAD
}

strong {
color:#2978a2
}

#cadrecom {
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
behavior:url(pie.htc);
border:1px solid #d4c8aa;
padding-left:10px;
padding-right:10px;
margin:7px
}

.disc {
list-style-type:disc
}

h3:first-letter {
color:#175D82
}

h4:first-letter {
color:#175D82
}

#nav {
width:200px;
float:left
}

#contenu {
width:700px;
float:left;
padding-top:15px;
margin-left:10px;
margin-right:10px
}

#contenu p {
text-align:justify;
/*font-family:'Varela Round',sans-serif*/

font-family: Helvetica, sans-serif;

}

#contenu img {
text-align:center;
margin:0 auto;
display:block;
-moz-box-shadow:8px 8px 12px #aaa;
-webkit-box-shadow:8px 8px 12px #aaa;
box-shadow:8px 8px 12px #555;
border:5px solid #fff
}

#contenu ul {
padding:0;
margin-left:15px
}

#contenu ul li {
color:#000;
list-style-image:url(../images/puce.png);
text-align:left;
font-size:13px
}

#contenu ul li a:link {
color:#175D82
}

#contenu ul li a:hover {
color:#175D82;
text-decoration:underline
}

#contenu ul li a:visited {
color:#175D82
}

#contenu a:link {
color:#175D82
}

#contenu a:hover {
color:#175D82;
text-decoration:underline
}

#contenu a:visited {
color:#175D82
}

#social_bar {
position:fixed;
text-align:center;
width:70px;
z-index:10;
background-color:#deccb3;
padding-top:20px;
padding-bottom:20px;
-webkit-border-top-right-radius:8px;
-webkit-border-bottom-right-radius:8px;
-moz-border-radius-topright:8px;
-moz-border-radius-bottomright:8px;
border-top-right-radius:8px;
border-bottom-right-radius:8px;
box-shadow:1px 1px 12px #555;
behavior:url(PIE.htc)
}

#social_bar a:link,a:hover,a:visited {
text-decoration:none
}

.legende {
text-transform:uppercase;
text-align:center;
font-size:10px;
padding-bottom:25px;
padding-top:8px
}

.commentaires {
margin-top:25px
}

#comform {
visibility:hidden
}

#cadrecom {
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
behavior:url(/PIE.htc);
background-color:#FFF;
border:1px solid #d4c8aa;
padding-left:10px;
padding-right:10px;
margin:7px
}

#cadrecom p {
color:#777;
margin:6px 0 0;
padding:0 0 2px
}

#comform p {
margin-left:20px!important
}

#comform label {
color:#777;
background-color:inherit;
line-height:1.5em;
padding:0;
margin:0;
vertical-align:middle
}

#comform textarea {
max-width:400px!important;
width:350px;
margin:0;
resize:none
}

nav {
background-color:#dbbda3;
border-bottom:5px solid #997843;
position:relative;
z-index:99
}

#menu-demo2,#menu-demo2 ul {
font-family:'Varela Round',sans-serif;
padding:0;
margin:0;
list-style:none;
text-align:center
}

#menu-demo2 li {
display:inline-block;
position:relative;
border-radius:8px 8px 0 0
}

#menu-demo2 ul li {
display:inherit;
border-radius:0
}

#menu-demo2 ul li:hover {
border-radius:0
}

#menu-demo2 ul li:last-child {
border-radius:0 0 8px 8px
}

#menu-demo2 ul {
position:absolute;
max-height:0;
left:0;
right:0;
overflow:hidden;
-moz-transition:.8s all .3s;
-webkit-transition:.8s all .3s;
transition:.8s all .3s
}

#menu-demo2 li:hover ul {
max-height:35em
}

#menu-demo2 li:first-child {
background-color:#729EBF;
background-image:-webkit-linear-gradient(top,#729EBF 0%,#333A40 100%);
background-image:linear-gradient(to bottom,#729EBF 0%,#333A40 100%)
}

#menu-demo2 li:nth-child(2) {
background-color:#729EBF;
background-image:-webkit-linear-gradient(top,#729EBF 0%,#333A40 100%);
background-image:linear-gradient(to bottom,#729EBF 0%,#333A40 100%)
}

#menu-demo2 li:nth-child(3) {
background-color:#729EBF;
background-image:-webkit-linear-gradient(top,#729EBF 0%,#333A40 100%);
background-image:linear-gradient(to bottom,#729EBF 0%,#333A40 100%)
}

#menu-demo2 li:nth-child(4) {
background-color:#729EBF;
background-image:-webkit-linear-gradient(top,#729EBF 0%,#333A40 100%);
background-image:linear-gradient(to bottom,#729EBF 0%,#333A40 100%)
}

#menu-demo2 li:nth-child(5) {
background-color:#729EBF;
background-image:-webkit-linear-gradient(top,#729EBF 0%,#333A40 100%);
background-image:linear-gradient(to bottom,#729EBF 0%,#333A40 100%)
}

#menu-demo2 li:nth-child(6) {
background-color:#729EBF;
background-image:-webkit-linear-gradient(top,#729EBF 0%,#333A40 100%);
background-image:linear-gradient(to bottom,#729EBF 0%,#333A40 100%)
}

#menu-demo2 li:last-child {
background-color:#729EBF;
background-image:-webkit-linear-gradient(top,#729EBF 0%,#333A40 100%);
background-image:linear-gradient(to bottom,#729EBF 0%,#333A40 100%)
}

#menu-demo2 li:first-child li {
background:#2A2333
}

#menu-demo2 li:nth-child(2) li {
background:#333A40
}

#menu-demo2 li:nth-child(3) li {
background:#9F391A
}

#menu-demo2 li:last-child li {
background:#677F35
}

#menu-demo2 li:first-child:hover,#menu-demo2 li:first-child li:hover {
background:#729EBF
}

#menu-demo2 li:nth-child(2):hover,#menu-demo2 li:nth-child(2) li:hover {
background:#729EBF
}

#menu-demo2 li:nth-child(3):hover,#menu-demo2 li:nth-child(3) li:hover {
background:#729EBF
}

#menu-demo2 li:nth-child(4):hover,#menu-demo2 li:nth-child(3) li:hover {
background:#729EBF
}

#menu-demo2 li:nth-child(5):hover,#menu-demo2 li:nth-child(3) li:hover {
background:#729EBF
}

#menu-demo2 li:nth-child(6):hover,#menu-demo2 li:nth-child(3) li:hover {
background:#729EBF
}

#menu-demo2 li:last-child:hover,#menu-demo2 li:last-child li:hover {
background:#729EBF
}

#menu-demo2 a {
text-decoration:none;
display:block;
/* padding:8px 32px; */
padding:10px 18px;
color:#dacfb7;
font-family:arial
}

#menu-demo2 ul a {
padding:8px 0
}

#menu-demo2 li:hover li a {
color:#fff;
text-transform:inherit
}

#menu-demo2 li:hover a,#menu-demo2 li li:hover a {
color:#000
}

/*
.logo {
display:block;
position:absolute;
left:10px;
top:80px;
width:461px
}

h1.logo-name {
display:block;
text-align:center
}

h1.logo-name,h1.logo-name a,h1.logo-name a:link,h1.logo-name a:visited,h1.logo-name a:hover {
font-family:'Varela Round',sans-serif;
font-size:38px;
font-style:normal;
font-weight:700;
text-decoration:none;
padding:0;
margin:0;
color:#E9F5FB!important
}

.logo-text {
text-shadow:2px 2px 2px #aaa;
text-decoration:none;
text-transform:none;
letter-spacing:0;
word-spacing:0;
line-height:1.2;
text-align:center
}

.logo-text,.logo-text a {
font-family:'Varela Round',sans-serif;
font-size:19px;
font-style:normal;
font-weight:400;
padding:0;
margin:0;
color:#E9F5FB!important
}
*/

#cookie {
height:30px;
line-height:30px;
font-size:11px;
text-align:center;
display:none;
background-color:#ebf0f5
}

#cookie a {
text-decoration:underline;
margin-left:10px
}

#gemenu img {
margin-top:15px;
width:140px
}

#gemenu p {
margin-top:20px
}

#gemenu {
border-radius:10px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
/* behavior:url(/PIE.htc); */
background-color:#dacfb7;
border:1px solid #d4c8aa;
padding-left:10px;
padding-right:10px;
width:266px;
float:left;
height:266px;
margin:7px
}

.clear {
clear:both
}

/*
#menu-resp {
display:none
}
*/

#ariane {
witdh:100%;
height:20px;
border:0 solid #000
}

/* ----------------- tableau pour les unit�s de mesures ----------------*/

.tableau
{
    border:1px solid #997843;
    border-collapse:collapse;
    width:80%;
    margin: 25px auto 25px auto;
    
    /*
    margin-left:auto;
    margin-right:auto;
    margin-top:25px;
    margin-bottom:25px;
    */    
}

.tableau td
{
    border:1px solid #997843;
    border-collapse:collapse;
    padding:7px 7px 7px 7px;    
}

.tableau thead
{
    background-color:#dbbda3;
}


/* 

div.Header {
margin:0 auto;position:relative;z-index:0;width:924px;height:225px
}

div.Header-jpeg {
position:absolute;z-index:-1;top:0;left:-3px;width:930px;height:225px;background-image:url(../images/Header.jpg);background-repeat:repeat-x;background-position:center center;-webkit-border-top-left-radius:22px;
-webkit-border-top-right-radius:22px;-moz-border-radius-topleft:22px;-moz-border-radius-topright:22px;border-top-left-radius:22px;border-top-right-radius:22px

}
*/

/* nouveau header pour passage en responsive */

header
{
	height:225px;
	width:100%;
	background-image:url(../images/Header.jpg);
	background-repeat:repeat-x;
	background-position:center center;
	-webkit-border-top-left-radius:22px;
	-webkit-border-top-right-radius:22px;
	-moz-border-radius-topleft:22px;
	-moz-border-radius-topright:22px;
	border-top-left-radius:22px;
	border-top-right-radius:22px;
}

header hgroup
{
	
	color:white;
	width:50%;
	padding-top:45px;
}

hgroup h1
{
	text-align:center;
	font-family:'Varela Round',sans-serif;
	font-size:38px;font-style:normal;
	font-weight:700;
	text-decoration:none;
	padding:0;
	color:#E9F5FB!important;
}

hgroup h2
{
	text-align:center;
	text-shadow:2px 2px 2px #aaa;
	text-decoration:none;
	text-transform:none;
	letter-spacing:0;
	word-spacing:0;
	line-height:1.2;
	text-align:center;
	font-family:'Varela Round',sans-serif;
	font-size:19px;
	font-style:normal;
	font-weight:400;
	padding:0;
	margin-top:-22px;
	;color:#E9F5FB!important
}

/* champ de recherche Google*/

#googlesearch
{
margin-top:20px;z-index:5;position:absolute;margin-left:690px;
}

/* 1340 */